<html lang="en">
  <head>
    <title>Paste GPT: Options</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="./options.css" />
  </head>
  <body>
    <main>
      <section>
        <header>
          <h1>Paste GPT</h1>
          <img src="../images/icons/logo_128.png" alt="logo" />
          <details>
            <ul>
              <li>
                <a
                  rel="noopener"
                  href="https://chromewebstore.google.com/detail/paste-gpt/jblalfbaalffdkbdildjgmelmpmaignh"
                  target="_blank"
                  >Store Page</a
                >
              </li>
              <li>
                <a
                  rel="noopener"
                  href="https://github.com/johnhenry/paste-gpt"
                  target="_blank"
                  >Repository</a
                >
              </li>

              <li>
                <a
                  rel="noopener"
                  href="https://github.com/johnhenry/paste-gpt/blob/main/PRIVACY.md"
                  target="_blank"
                  >Privacy Policy</a
                >
              </li>
            </ul>
          </details>
        </header>
        <h2>Prompts</h2>
        <h3>Bracketed Keywords</h3>
        Used bracketed keywords to inject infomation into prompts.
        <ul>
          <li>
            {content} -- content of the page. Used bracketed keywords to inject
            infomation into prompts.
            <ul>
              <li>
                If this keyword is not included content is appended
                <br />
                to the end of the prompt.
              </li>
            </ul>
          </li>
          <li>{url} -- url of page</li>
        </ul>

        <form id="form-options">
          <template id="template-prompt">
            <fieldset>
              <label> Title <input name="title" required /> </label>
              <label>
                Prompt <textarea name="prompt" required> </textarea>
              </label>
              <button class="button-removeprompt" type="button">×</button>
            </fieldset>
          </template>
          <button id="button-appendprompt" type="button">+</button>
          <button id="button-save" type="button" id="button-save">Save</button>
          <button id="button-reset" type="button" id="button-reset">
            Reset
          </button>
        </form>
      </section>
    </main>
    <script type="module" src="./options.mjs"></script>
  </body>
</html>
